<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Recommendation</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
        <div class="container">
            <h2>Farmer Recommendation System</h2>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGqovqK-dmdSJkTb1UD-3-K43et1OkjJcwrEqnYx43SQ&s=10" alt="Farmer1">

            <br>
                <a href="/crop_recommendation">
                <button >Crop Recommendation</button>
            </a>
            <br><br>
            <a href="/fertilizer_recommendation">
                <button>Fertilizer Recommendation</button>
            </a>
        </div>
</body>
</html>